@model IEnumerable<QHRM.Models.AddProduct>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />




@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>
<div class="d-flex justify-content-end mb-5">
    <a asp-action="AddorEdit" class="btn btn-primary">Add Product</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="w-25">
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SN" class="btn btn-primary btn-icon" style="color: white; background-color:#48d1fe;">
                        <i class="fa fa-user-alt"></i>
                    </a>
                    <a asp-action="AddorEdit" asp-route-id="@item.SN" class="btn btn-primary btn-icon">
                        <i class="fa fa-marker"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.SN" class="btn btn-danger btn-icon">
                        <i class="fa fa-times"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
